// Search bar 

.search--bar {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
	@extend .full-screen;
	input[type="search"]::-webkit-search-cancel-button{
		display: none;
	}
	input[type="search"]::-webkit-input-placeholder{
		text-align: right;
	}
}
.medkit-search {
    display: flex;
	width: 50vw;
    height: 44px;
}
.main-search-input {
    background-color: $white;
	width: 100%;
    padding: 1em;
    border-radius: 2px;
	font-size: 16px;
    border: none;
	box-shadow: $searchbar-shadow;
	transition: $transition-box-shadow;
	outline: none;
	&:hover{
		box-shadow: $searchbar-hover-shadow;
	}
}
.search-button {
	background: $transparent;
    border: none;
}
