@import 'partials/colors';
@import 'partials/variables';

body {
	@extend .reset;
	background-color: $deep-purple;
}
.container {
	@extend .reset;
	@extend .full-screen;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
}
.intro {
	display: block;
	text-align: center;
	width: 100%;
	flex-grow: 1;
	background-color: $deep-purple;
	align-items: flex-end;
	h2, p { @extend .describe; @extend .no-margin; }
	h2 { font-size: 5em; margin-top: 2em; }
	p { font-size: 1.5em; }
}
.mainContent {
	background-color: $deep-purple;
	flex-grow: 2;
}
// Search bar
@import 'partials/search';
